/* AMEX - JUSTIFICATIF DE REVENUS */

$white: #FFFFFF;
$grey-light: #F7F8F9;
$grey-medium: #D9D9D6;
$grey-medium-plus: #97999B;
$grey-dark: #53565A;
$grey-dark-plus: #333333;
$blue-amex: #006FCF;
$blue-amex-dark: #00175A;

$margin-xs : 10px;
$margin-sm : 20px;
$margin-md : 40px;
$margin-lg : 90px;

body {
  font-family: 'BentonSans-Book';
  font-size: 15px;
  line-height: 22px;
  background-color: $white;
  margin-bottom: $margin-sm;
}

.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  @include media-breakpoint-down(sm) {
    padding-left: 4px;
    padding-right: 4px;
  }
}

p,
a,
li,
span {
  font-family: 'Helvetica-Neue-Light';
}

strong,
.strong {
  font-family: 'Helvetica-Neue-Light';
  font-weight: bold;
}

p {
  color: $grey-dark;
  margin-bottom: 0;
}

nav {
  padding: 8px 0 8px 40px;
}

.marged {
  margin-left: $margin-lg;
  margin-right: $margin-lg;

  @include media-breakpoint-down(md) {
    margin-left: $margin-md;
    margin-right: $margin-md;
  }

  @include media-breakpoint-down(sm) {
    margin-left: 0;
    margin-right: 0;
  }
}

.margin-top {
  margin-top: $margin-md;
}

.margin-top-sm {
  margin-top: $margin-sm;
}

.margin-top-xs {
  margin-top: $margin-xs;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  background-image: url('../img/header-lg.png');
  height: 310px;
  background-position: center top;
  background-repeat: no-repeat;

  @include media-breakpoint-down(md) {
    background-image: url('../img/header-md.png');
  }

  @include media-breakpoint-down(sm) {
    background-image: url('../img/header-sm.png');
    height: 510px;
    height: 70vh;
    align-content: flex-start;
    align-items: flex-start;

  }
}

h1 {
  text-align: left;
  font-family: "Helvetica-neue-light";
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0px;
  padding: 40px;
  margin: 0;
  color: $white;
  opacity: 1;
  text-transform: none;

  @include media-breakpoint-down(sm) {
    font-size: 28px;
    line-height: 32px;
    padding: 17px;
    text-align: center;
    width: 100%;
  }
}

h2 {
  text-align: left;
  font-family: "BentonSans-Book";
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0px;
  padding: 0;
  margin: 0 0 18px 0;
  color: $blue-amex;
  opacity: 1;
  text-transform: none;
}

h3 {
  text-align: left;
  font-family: "BentonSans-Book";
  font-size: 28px;
  line-height: 32px;
  padding: 0;
  margin: 0;
  color: $blue-amex;
  opacity: 1;
  text-transform: none;
}

h4 {
  text-align: left;
  font-family: "BentonSans-Book";
  font-size: 20px;
  line-height: 28px;
  padding: 0;
  margin: 0;
  color: $blue-amex;
  opacity: 1;
  text-transform: none;
}


ul {
  list-style: none;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  padding: 0;

  >li {
    color: $blue-amex;

    &::before {
      content: '- ';
    }
  }
}

h2.docs {
  @include media-breakpoint-down(sm) {
    padding: 85px 0 0 0;
    background-image: url('../img/icon-doc.png');
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
  }
}

div.docs {
  background-image: url('../img/icon-doc.png');
  background-position: left center;
  background-repeat: no-repeat;
  padding: 0 0 0 75px;
  background-size: auto;

  @include media-breakpoint-down(sm) {
    padding: 0;
    background-image: none;
  }
}

div.flex {
  display: flex;
}

div.encart {
  padding: 20px;
  width: 100%;

  >h3 {
    margin-bottom: 10px;
  }

  &.gris {
    background-color: $grey-light;

    @include media-breakpoint-down(md) {
      margin-bottom: $margin-md;

      br {
        content: ' ';
        width: 9px;
        height: 18px;

        &::before {
          content: ' '
        }
      }
    }
  }

  &.bleu {
    background-color: $blue-amex;

    >h3 {
      color: $white;
    }

    >h4 {
      color: $white;
    }
  }
}

footer {
  margin-top: 40px;

  p {
    color: $grey-dark;
    font-size: 15px;
    line-height: 22px;
    font-weight: normal;
    text-align: center;
    margin: 0;

    >a {
      color: $blue-amex;
      font-weight: normal;
      text-decoration: none;
    }

    >hr {
      margin: 21px 0;
    }
  }

  span {
    color: $grey-medium-plus;
    font-size: 15px;
    line-height: 22px;
  }

}

.carousel-container {
  @include media-breakpoint-up(lg) {
    margin-top: $margin-sm;
  }
}

div.carousel-item>img {
  width: 100%;
  height: auto;
}

.carousel-control-prev-icon {
  background-image: url('../img/arrow-left.svg');
  height: 40px;
  width: 40px;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.carousel-control-next-icon {
  background-image: url('../img/arrow-right.svg');
  height: 40px;
  width: 40px;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.carousel-indicators {
  margin-bottom: 0;
}

.carousel-indicators li {
  background-image: url('../img/dot.svg');
  height: 40px;
  width: 40px;
  background-color: transparent;
  opacity: 1;
  margin: 0;
}

.carousel-indicators li.active {
  background-image: url('../img/dot-active.svg');
  height: 40px;
  width: 40px;
}

br.cesure-mobile {
  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.tooltip {
  box-shadow: 7px 8px 5px -6px rgba(0, 0, 0, 0.75);
  z-index: 99999999;
}

.bs-tooltip-right .arrow::before {
  border-right-color: $white;
}

.tooltip-inner {
  background-color: $white;
}

.carousel-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  >a {
    width: 50%;
    text-align: left;
    padding: 24px;
    text-decoration: none;
    color: $blue-amex;
    font-size: 18px;
    font-family: 'Helvetica-Neue';
    font-weight: 600;
    line-height: 18px;
    border-top: 1px solid $grey-medium;
    border-left: 1px solid $grey-medium;

    @include media-breakpoint-down(sm) {
      width: 100%;
      &:nth-child(1) {
        border-right: 1px solid $grey-medium;
      }
    }

    &:nth-child(2) {
      border-right: 1px solid $grey-medium;
    }

    &.carousel-header-active {
      border-top: 3px solid $blue-amex-dark;
      padding-top: 22px;
      color: $blue-amex-dark;
    }
  }
}

.carousel-body {
  border: 1px solid $grey-medium;
  padding: 24px;

  @include media-breakpoint-down(sm) {
    padding: 0;
  }
}

.hidden-lg {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.hidden-md {
  @include media-breakpoint-down(md) {
    display: none;
  }
}
