<footer class="marged">
    <p><strong>Pour plus de questions concernant l’accès à votre espace impots.gouv.fr :</strong></p>
    <p><a href="https://www.impots.gouv.fr/portail/particulier/acceder-mon-espace">https://www.impots.gouv.fr/portail/<br class="cesure-mobile">particulier/acceder-mon-espace</a></p>
    <hr>
    <span>&copy; 2020 AMEX</span>
</footer>
<!-- build:js -->
<script src="{{root}}assets/vendor/js/jquery.js"></script>
<script src="{{root}}assets/vendor/js/popper.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap.js"></script>
<script src="{{root}}assets/js/util/autoPadding.js"></script>
<script src="{{root}}assets/js/util/crossPlatform.js"></script>
<script src="{{root}}assets/js/main.js"></script>
<!-- endbuild -->
