{{!-- This is the base layout for your project, and will be used on every page. --}}
<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>American Express FR : Cartes de Paiement &amp; Services Privilégiés</title>
  <link rel="icon" href="{{root}}assets/img/favicon.ico" />

  <!-- build:css -->
  <link rel="stylesheet" href="{{root}}assets/css/main.css">
  <!-- endbuild -->
  <link rel="stylesheet" href="{{root}}assets/css/rtl.css">
  <link rel="stylesheet" href="{{root}}assets/fonts/BentonSans-Book.css">
  <link rel="stylesheet" href="{{root}}assets/fonts/Helvetica-Neue-Regular.css">
  <link rel="stylesheet" href="{{root}}assets/fonts/Helvetica-Neue-Light.css">
  <link rel="stylesheet" href="{{root}}assets/fonts/Helvetica-Neue-Bold.css">

  <meta property="og:title" content="American Express FR : Cartes de Paiement &amp; Services Privilégiés" />
  <meta property="og:url" content="https://www.americanexpress.com/fr/" />
  <meta property="og:description" content="Bienvenue chez American Express France : Entrez dans un monde d&#39;avantages avec AMEX, fournisseur de Cartes de Paiement et de Services Privilégiés." />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://www.americanexpress.comhttps://www.aexp-static.com/cdaas/one/statics/axp-dls/5.10.0/package/dist/img/dls_logos/dls-logo-bluebox-solid.svg" />
  <meta name="twitter:title" content="American Express FR : Cartes de Paiement &amp; Services Privilégiés" />
  <meta name="twitter:url" content="https://www.americanexpress.com/fr/" />
  <meta name="twitter:site" content="@AmexFR" />
  <meta name="twitter:description" content="Bienvenue chez American Express France : Entrez dans un monde d&#39;avantages avec AMEX, fournisseur de Cartes de Paiement et de Services Privilégiés." />
  <meta name="twitter:image" content="https://www.americanexpress.comhttps://www.aexp-static.com/cdaas/one/statics/axp-dls/5.10.0/package/dist/img/dls_logos/dls-logo-bluebox-solid.svg" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" />

</head>

<body>
  <div class="container-fluid">
    <div class="container">
      {{> navigation}}
    </div>
    <main role="main">
      {{> body}}
    </main>
    <div class="container">
      {{> footer}}
    </div>
  </div>
</body>

</html>
